.searchContainer {
	width: min(1000px, 80vw);
	margin: auto;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	.button {
		width: 100px;
		margin-left: 5px;
	}

	.searchInputContainer {
		width: 40%;
	}
}

.calendarListContainer {
	width: min(1000px, 80vw);
	margin: auto;
	padding: 10px;
	padding-bottom: 100px;
}
.eventListContainer {
	width: min(1000px, 80vw);
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 60vh;
	overflow-y: scroll;
	padding: 10px;

	.eventListItem {
		min-height: 100px;
		// min-width: 620px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			width: 140px;
			height: 70px;
			object-fit: cover;
		}
		h3 {
			margin-left: 15px;
			width: 200px;
		}
		border-bottom: 1px solid rgb(182, 182, 182);
		.dateWrapper {
			p {
				font-weight: 550;
				font-size: 110%;
			}
			margin-left: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 150px;
		}
		.iconContainer {
			// width: 200px;
			margin-left: auto;
			margin-right: 8px;
			display: flex;
			justify-content: space-around;
			.delete {
				color: rgb(207, 0, 0);
				font-size: 170%;
			}
			.edit {
				font-size: 170%;
			}
		}
	}

	.eventListItemInfo {
		display: flex;
		justify-content: space-between;
		width: 60%;
		> h3 {
			width: 60%;
			margin-left: 0;
			padding: 2px 12px;
			line-height: 120%;
		}

		> .dateWrapper {
			width: 35%;
			margin-left: 0;
			padding: 2px 12px;
		}
	}
}

.titleContainer {
	padding-top: 50px;
	padding-bottom: 30px;
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
}



//****************************MOBILE****************************



@media (max-width: 700px) {
	.titleContainer {
		padding-top: 25px;
		padding-bottom: 15px;
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: center;
	}

	

	.eventListContainer {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		height: 60vh;
		overflow-y: scroll;
		padding: 10px;

		.eventListItem {
			min-height: 30%;
			min-width: none;
			margin-bottom: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			img {
				width: 30%;
				// height: 100%;
				object-fit: cover;
			}
		}

		.eventListItemInfo {
			width: 60%;
			display: block;
			> h3 {
				width: auto;
				margin-left: 0;
				padding: 2px 12px;
				line-height: 120%;
			}

			> .dateWrapper {
				width: auto;
				margin-left: 0;
				padding: 2px 12px;
			}
		}

		.iconContainer {
			width: 10%;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.delete {
				color: rgb(207, 0, 0);
				font-size: 170%;
			}
			.edit {
				font-size: 170%;
			}
			> button {
				margin-top: 5px;
			}
		}
	}

	

	.searchContainer {
		width: min(1000px, 85vw);
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.buttonContainer {
			display: flex;
			justify-content: space-between;
			width: 85vw;
			margin-top: 5px;
			padding-right: 3vw;
		}
		.button {
			width: 40vw;
			margin-left: 5px;
		}

		.searchInputContainer {
			width: 83vw;
			padding: 0 4px;
		}
	}
}
